html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    text-align: center;

    color: white;
    background-color: black;

    margin: 0;
}



header {
    width: 100%;

    line-height: 2rem;
}


header h2 {
    font-size: 3.125rem;
    font-weight: normal;

    color: white;
}

header a {
    color: aquamarine;
}



.video-container {
    margin: 1rem 0;
}



.gallery h2 {
    font-size: 2.625rem;
    font-weight: 300;
}
.gallery h4 {
    font-size: 1.25;
    font-weight: normal;

    color: gray;
}