html,
body {
    text-align: center;

    background-color: black;

    margin: 0;
}



header {
    width: 100%;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header h2 {
    font-size: 3.125rem;
    font-weight: normal;

    color: white;

    margin: 0;
    margin: 1rem 0 2rem 0;
}

header a {
    color: aquamarine;
}