html,
body {
    text-align: center;

    background-color: black;

    margin: 0;
}



header {
    width: 100%;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    line-height: 2rem;
}


header h2 {
    font-size: 3.125rem;
    font-weight: normal;

    color: white;
}

header a {
    color: aquamarine;
}



.video-container {
    margin: 1rem 0;
}